SmartRoute.MRC/src/SmartRoute.MRC.CenterConsole/bin/
SmartRoute.MRC/src/SmartRoute.MRC.CenterConsole/obj/
SmartRoute.MRC/src/SmartRoute.MRC.GatewayConsole/bin/
SmartRoute.MRC/src/SmartRoute.MRC.GatewayConsole/obj/
SmartRoute.MRC/src/SmartRoute.MRC.GatewayConsole1/bin/
SmartRoute.MRC/src/SmartRoute.MRC.GatewayConsole1/obj/
SmartRoute.MRC/src/SmartRoute.MRC/bin/
SmartRoute.MRC/src/SmartRoute.MRC/obj/
